In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('data/telecom_churn.csv')
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [3]:
print(df.shape)

(3333, 21)

In [4]:
print(df.columns)

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
state                     3333 non-null object
account length            3333 non-null int64
area code                 3333 non-null int64
phone number              3333 non-null object
international plan        3333 non-null object
voice mail plan           3333 non-null object
number vmail messages     3333 non-null int64
total day minutes         3333 non-null float64
total day calls           3333 non-null int64
total day charge          3333 non-null float64
total eve minutes         3333 non-null float64
total eve calls           3333 non-null int64
total eve charge          3333 non-null float64
total night minutes       3333 non-null float64
total night calls         3333 non-null int64
total night charge        3333 non-null float64
total intl minutes        3333 non-null float64
total intl calls          3333 non-null int64
total intl charge         3333 non-null float64
customer service calls    3333 non-null int64
churn                     3333 non-null bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.1+ KB
None

In [6]:
df['churn']=df['churn'].astype('int64')

In [7]:
df.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,0.144914
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,0.352067
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,0.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [8]:
df.describe(include=['object','bool'])

       state phone number international plan voice mail plan
count   3333         3333               3333            3333
unique    51         3333                  2               2
top       WV     339-9631                 no              no
freq     106            1               3010            2411

In [9]:
df['churn'].value_counts()

0    2850
1     483
Name: churn, dtype: int64

In [10]:
df['churn'].value_counts(normalize=True)

0    0.855086
1    0.144914
Name: churn, dtype: float64

In [11]:
# Sorting
df.sort_values(by='total day charge', ascending=False).head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
365,CO,154,415,343-5709,no,no,0,350.8,75,59.64,...,94,18.40,253.9,100,11.43,10.1,9,2.73,1,1
985,NY,64,415,345-9140,yes,no,0,346.8,55,58.96,...,79,21.21,275.4,102,12.39,13.3,9,3.59,1,1
2594,OH,115,510,348-1163,yes,no,0,345.3,81,58.70,...,106,17.29,217.5,107,9.79,11.8,8,3.19,1,1
156,OH,83,415,370-9116,no,no,0,337.4,120,57.36,...,116,19.33,153.9,114,6.93,15.8,7,4.27,0,1
605,MO,112,415,373-2053,no,no,0,335.5,77,57.04,...,109,18.06,265.0,132,11.93,12.7,8,3.43,2,1

In [12]:
df.sort_values(by=['churn','total day charge'],ascending=[True,False]).head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
688,MN,13,510,338-7120,no,yes,21,315.6,105,53.65,...,71,17.76,260.1,123,11.70,12.1,3,3.27,3,0
2259,NC,210,415,363-7802,no,yes,31,313.8,87,53.35,...,103,12.55,192.7,97,8.67,10.1,7,2.73,3,0
534,LA,67,510,373-6784,no,no,0,310.4,97,52.77,...,123,5.65,246.5,99,11.09,9.2,10,2.48,4,0
575,SD,114,415,351-7369,no,yes,36,309.9,90,52.68,...,89,17.03,183.5,105,8.26,14.2,2,3.83,1,0
2858,AL,141,510,388-8583,no,yes,28,308.0,123,52.36,...,128,21.06,152.9,103,6.88,7.4,3,2.00,1,0

In [ ]:
# Indexing and retreving data.
# dataframe['name']
# dataframe.name
df.churn.mean()

In [ ]:
df[df.churn==1].mean()

In [ ]:
# How much time (on avg) do churned users spend on the phone during daytime?
df[df.churn==1]['total day minutes'].mean()

In [ ]:
# What is the maximum lenght of international calls among loyal users (churn=0) who do not have an international plan?
df[df.churn==0]['total intl minutes'].max()

In [ ]:
# Indexing by name
df.loc[0:5,'state':'area code']

# Indexing by number
df.iloc[0:5,0:3]

In [ ]:
# Apply function to cells, cols and rows
# functions to each col: df.apply(np.function)
df.apply(np.max)

In [ ]:
# to rows: add axis=1
df[df.state.apply(lambda state:state[0]=='W')].head()

In [ ]:
# map con diccionario
d={'no':False, 'yes':True}
df['international plan']=df['international plan'].map(d)
df.head()

In [ ]:
# replace
df=df.replace({'voice mail plan':d})
df.head()

In [ ]:
# Grouping
# df.groupby(by=grouping_columns)[columns_to_show].function()
# Primero hacer un vector de columnas a mostrar
cols_to_show=['total day minutes','total eve minutes','total night minutes']
# luego hacer el groupby
df.groupby(['churn'])[cols_to_show].describe(percentiles=[])

In [ ]:
df.groupby(['churn'])[cols_to_show].agg([np.mean,np.std,np.min,np.max])

In [ ]:
# PIVOTABLES
# Contingency Table: crosstab
pd.crosstab(df.churn,df['international plan'])

In [ ]:
pd.crosstab(df.churn
            ,df['voice mail plan']
            ,normalize=True)

In [ ]:
# mas variables
df.pivot_table(['total day calls','total eve calls','total night calls']
               ,['area code']
               ,aggfunc='mean'
              ) # Primero van los numericos luego las clases

In [ ]:
# DATAFRAME TRANSFORMATIONS
# Version innecesariamiente dificil
total_calls=df['total day calls']+df['total eve calls']+df['total night calls']+df['total intl calls']
df.insert(loc=len(df.columns),column='total calls2',value=total_calls)
df.head()

In [ ]:
# Version rapido Rlike
df['total charge']=df['total day charge']+df['total eve charge']+df['total night charge']+df['total intl charge']
df.head()

In [ ]:
# Eliminar columnas recien creadas
df.drop(['total charge','total calls2'], axis=1, inplace=True)

In [ ]:
# Eliminar filas
df.drop([1,2]).head() # Ellmina las filas 1 a 2.

In [ ]:
# Intento de prediccion del churn
pd.crosstab(df.churn,df['international plan'],margins=True)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.countplot(x='international plan', hue='churn',data=df);

In [ ]:
pd.crosstab(df.churn,df['customer service calls'],margins=True)

In [ ]:
sns.countplot(x='customer service calls', hue='churn',data=df)

In [ ]:
# Para hacer mas evidente agregammos una variablel dcotomica mas
df['many_service_calls']=(df['customer service calls']>3).astype('int') # No se puede crear directamente usando puntito (.)
pd.crosstab(df.many_service_calls,df.churn,margins=True)

In [ ]:
# De un crosstab se puede sacar un baseline del churn, no sabia.
# La formula seria algo como: Si International plan=T y customer service calls>3 entonces Churn=1.
# Siempre se recomienda hacer un EDA para sacar el baseline a batir.